/*----------------------------------------------------------------------------*\
    $FONT
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

.lede{
    margin-bottom: $space-half;
    font-weight: 700;
    color: #00345C;
    font-size: 18px;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);

    .small{
        font-weight: 400;
        font-style: italic;
        font-size: 12px;
    }
}


@font-face {
    font-family: 'blanchcaps';
    src: url('../font/blanch_caps-webfont.eot');
    src: url('../font/blanch_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/blanch_caps-webfont.woff2') format('woff2'),
         url('../font/blanch_caps-webfont.woff') format('woff'),
         url('../font/blanch_caps-webfont.ttf') format('truetype'),
         url('../font/blanch_caps-webfont.svg#blanchcaps') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'blanchcondensed';
    src: url('../font/blanch_condensed-webfont.eot');
    src: url('../font/blanch_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/blanch_condensed-webfont.woff2') format('woff2'),
         url('../font/blanch_condensed-webfont.woff') format('woff'),
         url('../font/blanch_condensed-webfont.ttf') format('truetype'),
         url('../font/blanch_condensed-webfont.svg#blanchcondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(gt-desk){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(lt-desk){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(gt-palm){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
