/*----------------------------------------------------------------------------*\
    $TABS
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .tabs{

        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            //position: absolute;
            top: $space*2;
        }

        li{
            width: 80vw;
            margin-bottom: $space;

            h2{
                position: relative;
                background: #ececec;
                cursor: pointer;
                margin-bottom: 8px;
                border-top: none;
                padding: $space-half $space;
                line-height: 1em;
                width: 40%;
                color: $color-base;
                font-size: $alpha;
                font-weight: 400;
                font-family: $face-brand;
                box-shadow: 2px 2px 20px 0px rgba($color-base,0.95);
                transition: all 0.3s $transition 0s;
            }
            .tab__content{
                background: $color-white;
                width: 80%;
                position: absolute;
                height: auto;
                min-height: 100%;
                border: 1px solid rgba($color-base,.2);
                display: none;
                right: 0;
                z-index: 20;
                top: -$space;
                padding: $space*2 $space;
                box-shadow: 2px 2px 20px 0px rgba($color-base,0.95);
                margin-bottom: $space;



                .marker--top{
                    position: absolute;
                    top: -3px;
                    left: -2px;
                    overflow: hidden;
                    min-height: $space*2;
                    right: 0;


                    &:before{
                        content: '';
                        display: block;
                        transform: rotate(-5deg);
                        width: 400px;
                        margin-top: -28px;
                        margin-left: -$space;
                        height: $space*2;
                        box-shadow: 1px 1px 10px 0px rgba(shade(#c60b22, 40),0.75);
                        background-image:linear-gradient(0deg, #c60b22, saturate(lighten(#c60b22, 12), 20));

                    }
                }

                .marker--bottom{
                    position: absolute;
                    bottom: -3px;
                    right: -4px;
                    overflow: hidden;
                    min-height: $space*2;
                    left: 0;


                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        transform: rotate(-5deg);
                        width: 400px;
                        bottom: -28px;
                        right: -$space;

                        height: $space*2;
                        box-shadow: -1px -1px 10px 0px rgba(shade(#00345C, 40),0.6);

                        background-image:linear-gradient(0deg, #00345C, saturate(lighten(#00345C, 7), 0));
                    }
                }
            }

            &[data-state="active"]{
                h2{
                    margin-left: $space;
                }
                .tab__content{
                    display: block;
                }
            }
        }



    }



/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(gt-desk){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        //@include media-query(lt-desk){}


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(gt-palm){}


        /**
         * Palm state
         */
        @include media-query(palm){
            .tabs{
                li{
                    width: 100vw;
                    max-width: 100%;
                    h2{
                        display: block;
                        width: 100%;
                    }
                    .tab__content{
                        position: relative;
                        width: 100%;
                        top: 0;
                        margin-bottom: $space;
                    }
                    .marker--bottom,
                    .marker--top{
                        display: none !important;
                    }
                    &[data-state="active"]{
                        h2{
                            margin: 0;
                            position: relative;
                            z-index: 100;
                        }
                    }
                }
            }
        }





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
