/*----------------------------------------------------------------------------*\
    $LAYER
    page part
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .stripes{

        .stripe{
            will-change: width, left, z-index, height, top;
            position: absolute;
            width: 100vw;
            height: 20vh;
            z-index: 1;

            &.animated{
                transition: all 0.5s $transition;
            }

            &[data-state="active"]{
                left: 0;
                z-index: 200;
                height: 100vh;
                top: 0;
                //transition: z-index 0s $transition 0s;
            }
        }
    }

    .stripe--close{
        position: absolute;
        top: $space;
        right: -$space*2;
        height: $space*2;
        width: $space*2;
        display: block;
        cursor: pointer;
        z-index: 202;

        &:before,
        &:after{
            content: "";
            position: absolute;
            width: $space;
            height: 5px;
            left: $space*0.75;
            background: white;
            top: $space;
            border-radius: 2px;
        }

        &:before{
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

        }
        &:after{
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

        }

        &[data-state="active"]{
            right: $space;
        }

        &.animated{
            transition: right 0.5s $transition;
        }
    }


    @for $i from 1 through 5 {
        $top: percentage(($i - 1) * 0.2);

        .stripe-#{$i} {
            top: $top;
            background: url('../gfx/bg/bg#{$i}.jpg') no-repeat;
            background-size: cover;
    background-position: center center;
        }
    }



/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(gt-desk){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        @include media-query(desk){
            .stripes{
                .stripe{
                    position: absolute;
                    width: 20vw;
                    height: 100vh;
                    top: 0;

                    &[data-state="active"]{
                        width: 100vw;
                        top: 0;
                        left: 0;
                    }
                }
            }

            @for $i from 1 through 5 {
                $left: percentage(($i - 1) * 0.2);

                .stripe-#{$i} {
                    left: $left;
                }
            }
        }


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(gt-palm){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
