/*----------------------------------------------------------------------------*\
    $LAYER
    page part
\*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*\
    $CONTENTS
\*----------------------------------------------------------------------------*/

    /*
    CONTENTS................You're reading it, LOL
    MODULE..................Includes base module & submodules
    STATE...................States the module can be in
    THEME...................Theming of the module
    */





/*----------------------------------------------------------------------------*\
    $MODULE
\*----------------------------------------------------------------------------*/

    .stripes{

        .stripe{
            will-change: width, left, z-index, height, top;
            position: absolute;
            width: 100vw;
            height: 20vh;
            z-index: 1;
            cursor: pointer;
            text-align: center;

            &.animated{
                transition: all 0.5s $transition;

                .stripe__title{
                    transition: top 0.5s $transition;
                }
            }

            &[data-state="active"]{
                left: 0;
                z-index: 200;
                height: 100vh;
                top: 0;
                cursor: default;

                .stripe__title{
                    top: 10vh;

                }

                .stripe__content{
                    -webkit-transform: scale(1);
-moz-transform: scale(1) ;
-ms-transform: scale(1) ;
transform: scale(1) ;
opacity: 1;
-webkit-transition: opacity 0.5s $transition 0.2s, transform 0.5s $transition 0s, margin-top 0.5s $transition 0s;
-moz-transition: opacity 0.5s $transition 0.2s, transform 0.5s $transition 0s, margin-top 0.5s $transition 0s;
transition: opacity 0.5s $transition 0.2s, transform 0.5s $transition 0s, margin-top 0.5s $transition 0s;
transform-origin: center center;
margin-top: 20vh;
                }
            }

            .stripe__title{
                position: absolute;
                font-family: $face-brand;
                color: #fff;
                font-size: $kilo;
                text-align: center;
                top: 50%;
                left: 50vw;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transition: all 0.5s $transition;
                text-shadow: 1px 1px 2px #333, 2px 2px #333, 3px 3px #333, 3px 3px #333, 3px 3px #333;
            }

            .stripe__content{
                -webkit-transform: scale(0.5) ;
                	-moz-transform: scale(0.5) ;
                	-ms-transform: scale(0.5) ;
                	transform: scale(0.5) ;
                	opacity: 0;
                	-webkit-transition: opacity 0.5s $transition 0s, transform 0.5s $transition 0s, margin-top 0.5s $transition 0.3s;
                	-moz-transition: opacity 0.5s $transition 0s, transform 0.5s $transition 0s, margin-top 0.5s $transition 0.3s;
                	transition: opacity 0.5s $transition 0s, transform 0.5s $transition 0s, margin-top 0.5s $transition 0.3s;
                    transform-origin: center center;
                    background: #fff;
                    display: inline-block;
                    margin-top: 0;

                    ul{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                    }
            }
        }
    }

    .stripe--close{
        position: absolute;
        top: $space;
        right: -$space*2;
        height: $space*2;
        width: $space*2;
        display: block;
        cursor: pointer;
        z-index: 202;

        &:before,
        &:after{
            content: "";
            position: absolute;
            width: $space;
            height: 5px;
            left: $space*0.75;
            background: white;
            top: $space;
            border-radius: 2px;
        }

        &:before{
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);

        }
        &:after{
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

        }

        &[data-state="active"]{
            right: $space;
        }

        &.animated{
            transition: right 0.5s $transition;
        }
    }


    @for $i from 1 through 5 {
        $top: percentage(($i - 1) * 0.2);

        .stripe-#{$i} {
            top: $top;
            background: url('../gfx/bg/bg#{$i}.jpg') no-repeat;
            background-size: cover;
    background-position: center center;
        }
    }



/*----------------------------------------------------------------------------*\
    $STATE
\*----------------------------------------------------------------------------*/

    /* Media Queries
       The default media queries shipped with Blocss:
       Uncomment the ones you need
    \*------------------------------------------------------------------------*/

        /**
         * Desk-wide state
         */
        //@include media-query(gt-desk){}


        /**
         * Desk state
         */
        //@include media-query(desk){}


        /**
         * Portable state
         */
        @include media-query(desk){
            .stripes{
                .stripe{
                    position: absolute;
                    width: 20vw;
                    height: 100vh;
                    top: 0;

                    &[data-state="active"]{
                        width: 100vw;
                        top: 0;
                        left: 0;
                    }

                    .stripe__title{
                        position: absolute;
                        top: 50vh;
                        margin-top: 4px;
                        left: 50%;
                    }
                }
            }

            @for $i from 1 through 5 {
                $left: percentage(($i - 1) * 0.2);

                .stripe-#{$i} {
                    left: $left;
                }
            }
        }


        /**
         * Lap state
         */
        //@include media-query(lap){}


        /**
         * Lapup state
         */
        //@include media-query(gt-palm){}


        /**
         * Palm state
         */
        //@include media-query(palm){}





/*----------------------------------------------------------------------------*\
    $THEME
\*----------------------------------------------------------------------------*/
